@import "tailwindcss";

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  @keyframes heartbeat {
    0% { transform: scale(1); }
    25% { transform: scale(1.3); }
    35% { transform: scale(1); }
    45% { transform: scale(1.2); }
    55% { transform: scale(1); }
}

.hover\:animate-heartbeat:hover {
    animation-name: heartbeat;
    animation-iteration-count: infinite;
}